{% extends "layout.html" %}
{% load static %}

{% block script%}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $('#opinion_id_1').click(function(){
            $('#opinion_id_1').attr('class','opinion_underline opinion');
            $('#opinion_id_2').attr('class','opinion');
            $('#opinion_id_3').attr('class','opinion');           
        });
        $('#opinion_id_2').click(function(){
            $('#opinion_id_2').attr('class','opinion_underline opinion');
            $('#opinion_id_1').attr('class','opinion');
            $('#opinion_id_3').attr('class','opinion');           
        });
        $('#opinion_id_3').click(function(){
            $('#opinion_id_3').attr('class','opinion_underline opinion');
            $('#opinion_id_1').attr('class','opinion');
            $('#opinion_id_2').attr('class','opinion');           
        });
    </script>

{% endblock script %}

{% block content %}

<div id="free_board" class="table" style="padding-top: 10px;margin-bottom: 20px;">
    <div style="clear:both;padding-top: 10px;margin-bottom: 20px;">
        <div style="float: left; width:730px;">
            <h5><b>ICO게시판</b></h5>
        </div>
    </div>

    <div style="clear: both;width:800px;" id="free_board_sub">
        <div style="clear: both;border: 1px solid #dcdddd;width:800px;margin-top: -10px;padding: 10px 10px 10px 10px;" id="free_board_sub">
            <div>
                <img style="width:170px;height:150px;border: 1px;border-radius: 10px;float: left;" src="{% static 'no-screenshot.jpg' %}">
                <b><p style="margin-left: 200px;font-size: 30px;height: 165px;">DAEX - 디지털 자산의 가장 안정적인 청산 에코 시스템DAEX - 디지털 자산의 가장 안정적인 청산 에코 시스템</p></b>
                <hr>
                <h5>기본정보(여기서부터는 BK가 작성하는 양식이 있을것으로 summerNote로 작성할 것이다</h5>
                <p style="font-size: 15px;">발행량등등등발행량등등등발행량등등등발행량등등등발행량등등등발행량등등등발행량등등등발행량등등등발행량등등등발행량등등등발행량등등등발행량등등등발행량등등등발행량등등등발행량등등등발행량등등등발행량등등등발행량등등등발행량등등등발행량등등등발행량등등등발행량등등등발행량등등등발행량등등등</p>
                <h5>개요</h5>
                <p style="font-size: 15px;">
                    DAEX의 목표는 주류 증권 업계의 합리적인 부분을 활용하여 분산 원장 기술이 가져온 새로운 기회를 활용하여 가상 통화 거래 업계보다 나은 인프라를 제공하는 것입니다. 구체적으로는 거래 및 청산은 다른 엔티티로 나뉩니다. 현재 중앙 거래소는 계속 거래 서비스를 제공합니다. 그러나 청산은 DAEX 솔루션을 기반으로 공통의 결제 서비스에 인계됩니다. 그러나 현재의 중앙 청산 서비스와 달리 DAEX 청산 서비스는 분산 원장 기술을 기반으로합니다. 분산 원장 기술은 거래가 정확하고 안전하게 청산 결제되는 것을 보장합니다. 분산 원장 기술을 사용함으로써 상인의 자산은 블록 체인에서 자신의 계정에 저장됩니다. 아무도 허가없이 상인의 자산에 액세스 할 수 없습니다. 따라서 현재의 중앙 집중식 거래소의 무역업자의 자산 위험을 효과적으로 제거됩니다. DAEX 솔루션은 공공 블록 체인에 기반한 오픈 소스 청산 서비스입니다. 그 코드는 일반 검사 및 감독을 위해 공개됩니다.
                </p>
            </div>
        </div>
        <div class="opinion opinion_underline" id="opinion_id_1">
                <p>BK의견</p>
        </div>
        <div class="opinion" id="opinion_id_2">
                <p>칼럼니스트의견</p>
        </div>
        <div class="opinion" id="opinion_id_3">
                <p>자유의견</p>
        </div>
        <div style="clear: both;width:800px;margin-top: 100px;">
            <div style="clear: both;width:800px;margin-top: -10px;padding: 10px 10px 10px 10px;" id="free_board_sub">
            <div>
                <p>bk의견입니다bk의견입니다bk의견입니다bk의견입니다bk의견입니다bk의견입니다bk의견입니다bk의견입니다bk의견입니다bk의견입니다bk의견입니다bk의견입니다bk의견입니다bk의견입니다bk의견입니다bk의견입니다bk의견입니다bk의견입니다bk의견입니다bk의견입니다bk의견입니다bk의견입니다bk의견입니다bk의견입니다bk의견입니다bk의견입니다bk의견입니다bk의견입니다bk의견입니다bk의견입니다bk의견입니다bk의견입니다bk의견입니다bk의견입니다bk의견입니다bk의견입니다bk의견입니다bk의견입니다bk의견입니다bk의견입니다</p>
            </div>
        </div>

    </div>        
</div>

{% endblock %}