{% load static %}
 
<!DOCTYPE html>
<html>
<head>
	<title>Coinsense</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel='stylesheet' type='text/css' href='{% static "style.css" %}'/>

	<style type="text/css">
		.endless_page_current{
			padding-left: 20px !important;
			color : black !important;
		}
		.endless_page_link{
			padding-left: 20px !important;	
			color : black !important;
		}
		.endless_separator{
			padding-left: 20px !important;	
			color : black !important;
		}
		
	</style>
	<script src="//code.jquery.com/jquery.min.js"></script>
	
	<!-- 즐겨찾기 추가하기 스크립트-->
	<script type="text/javascript">
		$(document).ready(function(){
	    $('#favorite').on('click', function(e) {
	      var bookmarkURL = window.location.href;
	      var bookmarkTitle = document.title;
	      var triggerDefault = false;
	  
	      if (window.sidebar && window.sidebar.addPanel) {
	          // Firefox version &lt; 23
	          window.sidebar.addPanel(bookmarkTitle, bookmarkURL, '');
	      } else if ((window.sidebar && (navigator.userAgent.toLowerCase().indexOf('firefox') < -1)) || (window.opera && window.print)) {
	          // Firefox version &gt;= 23 and Opera Hotlist
	          var $this = $(this);
	          $this.attr('href', bookmarkURL);
	          $this.attr('title', bookmarkTitle);
	          $this.attr('rel', 'sidebar');
	          $this.off(e);
	          triggerDefault = true;
	      } else if (window.external && ('AddFavorite' in window.external)) {
	          // IE Favorite
	          window.external.AddFavorite(bookmarkURL, bookmarkTitle);
	      } else {
	          // WebKit - Safari/Chrome
	          alert((navigator.userAgent.toLowerCase().indexOf('mac') != -1 ? 'Cmd' : 'Ctrl') + '+D 를 이용해 CoinSense를 즐겨찾기에 추가할 수 있습니다.');
	      }
	  
	      return triggerDefault;
	  });
	  });
	</script>
</head>
<body class="container">
	<header>
		<div id="top_menu">
			<li><a href="#" style="color:black;" id="favorite" title="즐겨찾기 등록">즐겨찾기 추가</a></li>
			{% if not user.is_authenticated %}
			<li id="top-menu-sub"><a href="{% url 'account:signup' %}">회원가입</a></li>
			{% endif %}
		</div>

		<a style="color:black;float: left;clear: both;" href="/"><h1>CoinSense</h1></a>

		<div style="clear:both;">
			<form action="" method="">
				<input id="search_main" type="text" placeholder="검색어를 적어보세요" name="search">
				<input id="search_button" type="submit" value="검색">
			</form>
		</div>
	</header>

	<!--
	<span style="" class="span1">|<img class="over" style="margin-left: -15px;margin-top: -22px;" src="/media/over.png"></span>
	-->

	<div id="main_menu">
		<ul style="padding-left: 0px;">
			<a href="/"><li class="main_list">Home</li></a>
			<li style="" class="main_list drop-down-mom">CS핫딜
				<ul style="width:152px;" class="drop-down">
   			    	<li><a href="{% url 'bk:market_list' %}">판매게시판</a></li>
   			       	<li><a href="{% url 'bk:event_list' %}">이벤트</a></li>
   			    </ul>
   			</li>
			<li class="main_list drop-down-mom">커뮤니티
				<ul class="drop-down">
   			    	<li><a href= "{% url 'bbs:free_list' %}" >자유게시판</a></li>
   			    	<li><a href=" {% url 'bbs:honeytip_list' %}">꿀팁 공유</a></li>
   			       	<li><a href="{% url 'bbs:analysis_list' %}">시황분석공유</a></li>
   			       	<li><a href="{% url 'bbs:gallery_list'%}">갤러리</a></li>
   			       	<li><a href="{% url 'bbs:forum_list' %}">코인포럼</a></li>
   			    </ul>
   			</li>
			<li class="main_list drop-down-mom">CS게시판
				<ul class="drop-down">
   			    	<li><a href="{% url 'bk:coinanalysis_list' %}">코인분석</a></li>
   			    	<li><a href="{% url 'bk:analysis_list' %}">시황분석</a></li>
   			       	<li><a href="{% url 'bk:video_list' %}">동영상컨텐츠</a></li>
   			    </ul>
   			</li>
			<li class="main_list drop-down-mom">뉴스/칼럼
				<ul class="drop-down">
   			    	<li><a href="{% url 'bbs:society_list' %}">학회게시판</a></li>
   			       	<li><a href="{% url 'bk:news_list' %}">뉴스</a></li>
   			       	<li><a href="{% url 'bbs:usercolumn_list' %}">유저칼럼</a></li>
   			    </ul>
   			</li>
   			
			<a href="{% url 'bbs:favorable' %}"><li class="main_list">호재</li></a>
			<a style="margin-left: -5px;" href="{% url 'bk:icoRating_list' %}"><li class="main_list">ICO Rating</li></a>
		</ul>
	</div>


		<div id="coin_price">
			<div>
				<li>자유게시판</li>
				<li>뉴스게시판</li>
				<li>차트분석</li>
				<li>정보/팁</li>
				<li>호재정리</li>
				<li>ICO정보</li>
			</div>
		</div>					
				<!-- 비 로그인시 -->
				{% if not user.is_authenticated %}
			<div id="login">				
				<p style="font-size: 16px;margin-right: 20px;" class="calender">Calender</p>
			
					<script type="text/javascript">
						var today = new Date();
						var dd = today.getDate();
						var mm = today.getMonth()+1; //January is 0!
						var yyyy = today.getFullYear();	
						if(dd<10) {
						    dd='0'+dd
						} 
						if(mm<10) {
						    mm='0'+mm
						} 
						today = yyyy+'.'+mm+'.'+dd;
						document.write('<p style="font-size: 30px;margin-right: 20px;" class="calender">'+today+'</p>');
					</script>
					<script type="text/javascript">
						var d = new Date();
						var week = new Array('일 (SUN)','월 (MON)','화 (TUE)','수 (WED)','목 (THU)','금 (FRI)','토 (SAT)')
						document.write('<p style="font-size: 20px;margin-right: 20px;" class="calender">'+week[d.getDay()]+'</p>')
					</script>

					<div class="form_login" style="float: left;">								
						<form action="?next={% firstof request.path '/' %}" method="post">
							{% csrf_token %}
							<table>
								<div class="form-id">{{ form.username }}</div>
								<p>{{ error }}</p>
								{% for error in form.username.errors %}
       					            <p>{{ error }}</p>
       					          {% endfor %}
								 <div class="form-pw1">{{ form.password }}</div>
								 {% for error in form.password.errors %}
       					            <p>{{ error }}</p>
       					          {% endfor %}
							</table>
							<div style="float:left;margin-top: 10px;">
        						<input style="width:20px;margin-left:10px;" type="checkbox" id="scales" name="feature" value="scales" checked /><label style="width:80px;" for="scales">아이디저장</label>
   								<input style="width:20px;" type="checkbox" id="scales" name="feature" value="scales" checked /><label style="width:80px;" for="scales">로그인유지</label>
							</div>
							<input style="background-color: #F4F4F7;border: 1px solid black;" id="submit_login" type="submit" value="로그인" />
						</form>
					</div>
					
				</div>
				<!-- 로그인시 -->
				{% else %}
				<div id="login2">
					<img style="width: 90px;height: 90px;float: left;margin-top:10px;margin-left:10px;" 
					{% if request.user.Photo %} src="{{request.user.Photo.url}}"  
					{% else %} src="{% static 'no-screenshot.jpg' %}"
					{%endif%}
					alt="">
					<p style="font-size: 16px;margin-right: 20px;" class="calender2">Calender</p>
			
					<script type="text/javascript">
						var today = new Date();
						var dd = today.getDate();
						var mm = today.getMonth()+1; //January is 0!
						var yyyy = today.getFullYear();	
						if(dd<10) {
						    dd='0'+dd
						} 
						if(mm<10) {
						    mm='0'+mm
						} 
						today = yyyy+'.'+mm+'.'+dd;
						document.write('<p style="font-size: 30px;margin-right: 20px;" class="calender2">'+today+'</p>');
					</script>

					<script type="text/javascript">
						var d = new Date();
						var week = new Array('일 (SUN)','월 (MON)','화 (TUE)','수 (WED)','목 (THU)','금 (FRI)','토 (SAT)')
						document.write('<p style="font-size: 20px;margin-right: 20px;" class="calender2">'+week[d.getDay()]+'</p>')
					</script>
					
					<p style="clear: both;margin-left: 10px;float: left;width:130px;">{{ user }}<br>{{ users.nickname }}</p>
					<p style="color:black;margin-top: 24.5px;padding-left:6.5px;width:65px;float: left;font-size: 12px;border: 1px solid black;"><a style="color:black;" href="{% url 'account:my_page' %}">회원정보</a></p>
					<p style="color:black;margin-top: 26.5px;margin-left: 210px;padding-left:6.5px;width:65px;font-size: 12px;border: 1px solid black;"><a style="color:black"href="{% url 'account:logout' %}">로그아웃</a></p>
				</div>				
				{% endif %}
				<!--비 로그인 -->
        		{% if not user.is_authenticated %}
        		<div id="notice">
        		    공지사항
        		    <div id="notice_sub">
        		        {% for i in notice %}
        		        	<a style="color:black;" href="{% url 'bbs:notice' pk=i.id %}">&ensp;{{ i.title|truncatechars:20 }}<br></a>
        		        {% endfor %}
        		    </div>
        		</div>
		
        		<div id="best">
        		    인기글
        		    <div id="best_sub">
        		        
        		    </div>
        		</div>
        		<!--로그인시-->
        		{% else %}
        		<div id="notice_login">
        		    <b>공지사항</b>
        		    <div id="notice_sub">
        		        {% for i in notice %}
        		        	{% if forloop.counter < 5 %}
        		        	<a style="color:black;" href="{% url 'bbs:notice' pk=i.id %}">&ensp;{{ i.title|truncatechars:20 }}<br></a>
        		        	{% else %}
        		        	{% endif %}
        		        {% endfor %}
        		    </div>
        		</div>
		
        		<div id="best_login">
        		    <b>인기글</b>
        		    <div id="best_sub">
						{% for ranking in ranking_list %}
							<p><a style="color:black"href="{{ranking.get_absolute_url}}"> {{ranking.title}}</a></p>
						{% endfor %}
        		    </div>
        		</div>
        		{% endif %}
				
				{% block content %}
				{% endblock content %}

<footer>
	<hr>
	<ul>
		<li ><a  style="color:black"href="{% url 'bbs:with_create' %}">제휴문의</a></li>
		<li id="maple"><a style="color:black" href="{% url 'bbs:sr_create' %}">게재중단요청</a></li>
	</ul>
	<hr id="hr_bottom">
	<p>E_mail : info@blackrane.com</p>
	<p>copyright© 코인센스 All Right Reserved</p>
	<p>고객센터 1588-6974</p>
</footer>
{% block script %}

{% endblock script %}
</body>
</html>