{% load static%}
<div style="margin-top: 20px;" class="my_page_sub_div3">
	<h3>저장한 게시글</h3>
	<table class="table table-striped" style="border-top: 5px solid #444444;border-bottom: 5px solid #444444;margin-top: 20px;">
		<thead>
			<tr>
				<th style="width: 1000px;" scope="row">보낸사람</th>
				<th style="width: 2000px;" scope="row">내용</th>
				<th scope="row">작성일</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td scope="row">Nickname</th>
				<td>쪽지입니다쪽지입니다</td> <!--|truncatechars:20-->
				<td>2018-08-23 17:00</td>
			</tr>
			<tr>
				<td scope="row">Nickname</th>
				<td>쪽지입니다쪽지입니다</td> <!--|truncatechars:20-->
				<td>2018-08-23 17:00</td>
			</tr>
			<tr>
				<td scope="row">Nickname</th>
				<td>쪽지입니다쪽지입니다</td> <!--|truncatechars:20-->
				<td>2018-08-23 17:00</td>
			</tr>
		</tbody>
	</table>
</div>